/*---------------

COLOR : #74c209;

--------------*/


.swal2-container {
  z-index: 10000 !important;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: 0 !important;
}


@font-face {
	font-family: outfit-regular;
	src: url(../fonts/OutfitRegular.ttf);
}

@font-face {
	font-family: outfit-light;
	src: url(../fonts/OutfitLight.ttf);
}

@font-face {
	font-family: jakarta-bold;
	src: url(../fonts/PlusJakartaSans-Bold.ttf);
}




html, 
body {
	background: #010314;
	font-family: 'outfit-regular', serif;
	scroll-behavior: smooth;
	margin: 0!important;
	padding: 0!important;
    width: 100%;
    font-smoothing:antialiased;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none !important;
	cursor: pointer;
}

.cont{
    max-width: 1320px;
    margin: 0 auto;
  }

  @media (max-width: 650px) {          /*---------------MOBILEs-----------------*/
    .cont{
      max-width: 100%;
      width: 100%;
    }
  }



  #scrollToTopBtn {
	display: none; /* Hidden by default */
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	background-color: #CE66FF;
	color: white;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#scrollToTopBtn:hover {
	background-color: #A648FD;
}



  .sticky-navbar {
	position: sticky;
	top: 0;
	z-index: 1000; /* Ensures it stays above other content */
  }
  
  .navbar.scrolled {
	background-color: #0f101e !important; /* New background color */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  }

.navbar{
	padding: 20px 120px;
	background-color:#010314 !important;
	transition: background-color 0.3s ease-in-out;
}

.navbar .navbar-logo{
	width: 100px;
	height: auto;
}

.navbar li a{
	color: #ffffff !important;
	font-weight: 600;
	margin-right: 50px;
	letter-spacing: 2px;
	font-size: 14px;
}


.navbar .join-btn{
	font-size: 14px;
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #010314;
    font-weight: 700;
    gap: 12px;
	padding: 14px 40px;
    border-radius: 30px;
	border: none;
}

.navbar .join-btn:hover{
	color: #ffffff;
	transition: 0.5s;
	background: linear-gradient(82.3deg, #e275ff 10.8%, #5729d6 94.3%);
}



#Main{
	padding-top: 180px;
	position: relative;
	padding-top: 140px;
}

#Main h2{
	font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
	background: linear-gradient(90deg, #e275ff -18.55%, #5729d6 163.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#Main h1{
	font-family: 'jakarta-bold', serif;
	color: #FFFFFF;
    font-size: 220px;
    font-weight: 700;
    line-height: 0.8em;
    letter-spacing: -0.04em;
	margin-top: 20px;
	margin-left: -10px;
}

#Main .violet-div{
	margin-top: 80px;
	border-radius: 25px 25px 25px 25px;
    padding-top: 35px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;
	background-color: transparent;
    background-image: linear-gradient(93.17deg, #F886FF 0%, #7E2AFD 100%);
}

#Main h3{
	font-family: 'jakarta-bold', serif;
	color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -0.04em;
}


#Main .right-div{
    padding-top: 35px;
    padding-bottom: 41px;
    padding-left: 60px;
    padding-right: 40px;
	margin-top: 50px;
}

#Main .right-div p{
	color: #92939E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
}

#Main .right-div .started-btn{
	user-select: none;
    -moz-user-select: none;
    background: #FFFFFF none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #010314;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 45px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
	margin-top: 20px;
}

#Main .right-div .started-btn:hover{
	color: #ffffff;
	transition: 0.5s;
	background: linear-gradient(82.3deg, #e275ff 10.8%, #5729d6 94.3%);
}


#Main .bg-1{
	width: 500px;
	height: auto;
	position: absolute;
	right: 100px;
	top: -100px;
}

#Main .bg-2{
	position: absolute;
	width: 100px;
	top: 350px;
}

#Main .bg-3{
	width: 350px;
	position: absolute;
	right: 50px;
	bottom: -120px;
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0);
	}
}


#Clients{
	padding-top: 250px;
	padding-bottom: 120px;
}

#Clients h2{
	color: #FFFFFF;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -0.015em;
}

#owl1{
	margin-top: 60px;
}

#owl1 img{
	width: 60%;
	cursor: pointer;
	opacity: 0.5;
	margin: 0 auto;
}

#owl1 img:hover{
	transition: 1s;
	opacity: 1;
}

#Why{
	padding-top: 20px;
	padding-bottom: 100px;
	position: relative;
}

#Why .left{
	padding-right: 25px;
}

#Why .right{
	padding-left: 25px;
}

#Why .bg-1{
	position: absolute;
	width: 350px;
	left: -50px;
	top: 0px;
	z-index: 10;
}

#Why .bg-2{
	position: absolute;
	width: 250px;
	left: -90px;
	top: 120px;
	z-index: 20;
	animation: float 3s ease-in-out infinite;
}

#Why .bg-3{
	position: absolute;
	width: 70px;
	left: 120px;
	top: 120px;
	z-index: 30;
	animation: floatx 3s ease-in-out infinite;
}

@keyframes floatx {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-20px);
	}

	100% {
		transform: translateX(0);
	}
}

#Why .bg-4{
	position: absolute;
	width: 50px;
	z-index: 30;
	top: 320px;
	left: 80px;
	animation: float 3s ease-in-out infinite;
}

#Why h2{
	font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #e275ff -18.55%, #5729d6 163.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Why h1{
	color: #FFFFFF;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
}

#Why p{
	color: #92939E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
	margin-top: 15px;
}

#Why .div1{
	background-color: #13141E;
	border-radius: 25px 25px 25px 25px;
	padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 65px;
    padding-right: 65px;
	margin-top: 50px;
	min-height: 830px;
	position: relative;
}

#Why .div1 img{
	position: absolute;
	width: 500px;
	left: -100px;
	bottom: 60px;
	animation: float 3s ease-in-out infinite;
}

#Why h3{
    font-family: "jakarta-bold", Sans-serif;
	color: #FFFFFF;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.2em;
}

#Why .div1 p{
	margin-top: 35px;
}

#Why .div1 ul{
  margin-top: 35px;
}

#Why .div1 li{
	font-size: 18px;
    font-weight: 400;
    line-height: 1.62em;
	color: #ffffff;
}


#Why .div2{
	background-color: #13141E;
	border-radius: 25px 25px 25px 25px;
	padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 65px;
    padding-right: 65px;
	margin-top: 50px;
	position: relative;
}

#Why .div2 img{
	width: 230px;
	position: absolute;
	right: -100px;
	top: 100px;
}

#Why .div3{
	background-color: #13141E;
	border-radius: 25px 25px 25px 25px;
	padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 65px;
    padding-right: 65px;
	margin-top: 50px;
	position: relative;
}

#Why .div3 img{
	width: 230px;
	position: absolute;
	right: -100px;
	top: 80px;
}


#Features{
	margin-top: 50px;
	background-color: transparent;
    background-image: linear-gradient(180deg, #7136B8 0%, #010314 100%);
	padding-top: 140px;
    padding-bottom: 140px;
	position: relative;
}

#Features .bg-1{
	width: 80px;
	position: absolute;
	left: 0px;
	bottom: 160px;
	animation: float 3s ease-in-out infinite;
}

#Features .bg-2{
	width: 80px;
	position: absolute;
	right: 0px;
	bottom: 200px;
	animation: float 3s ease-in-out infinite;
}

#Features .left{
	position: relative;
}

#Features .img-1{
	position: absolute;
	z-index: 10;
	width: 400px;
	left: 20px;
	top: 0px;
	animation: float 3s ease-in-out infinite;
}

#Features .img-2{
	position: absolute;
	z-index: 20;
	width: 400px;
   left: 50%;
   transform: translate(-50%,-50%);
   top: 230px;
}

#Features .img-3{
	position: absolute;
	z-index: 10;
	width: 150px;
	top: 320px;
	left: 130px;
}

#Features h2{
	color: #FFFFFF;
	font-family: "jakarta-bold", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 1px;
}

#Features h1{
	color: #FFFFFF;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
	width: 15ch;
	margin-top: 20px;
}

#Features p{
	color: #DDDDDD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
	margin-top: 25px;
}

#Features h3{
	background-color: transparent;
    font-size: 65px;
    font-weight: 600;
    line-height: 0.8em;
	background: linear-gradient(90deg, #E5F8C6 -18.55%, #61B998 163.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin-top: 75px;
}

#Features h4{
	color: #DDDDDD;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.62em;
	margin-top: 15px;
}


#Possibilities{
	position: relative;
	padding-top: 140px;
	padding-bottom: 140px;
}

#Possibilities .bg-1{
	position: absolute;
	left: -40px;
	bottom: 50px;
  width: 200px;
  animation: float 3s ease-in-out infinite;
}

#Possibilities .bg-2{
	position: absolute;
	width: 140px;
	right: 200px;
	top: 350px;
	z-index: 10;
  }

  #Possibilities .bg-3{
	position: absolute;
	width: 200px;
	right: 30px;
	bottom: 50px;
	animation: float 3s ease-in-out infinite;
  }

  

#Possibilities h2{
	font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #e275ff -18.55%, #5729d6 163.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Possibilities h1 {
    color: #FFFFFF;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
}

#Possibilities p {
    color: #92939E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
    margin-top: 15px;
}


#Possibilities .left{
	padding-right: 50px;
}

#Possibilities .right{
	padding-left: 50px;
}

#Possibilities .links{
	color: #92939E;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline !important;
    line-height: 1.62em;
	margin-top: 50px;
}

#Possibilities .links a{
	color: inherit;
}

#Possibilities .cont-inner{
	position: relative;
	background-color: transparent;
    background-image: linear-gradient(180deg, #E5F8C6 0%, #61B998 100%);
	border-radius: 30px 30px 30px 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
	margin-top: 50px;
	z-index: 50;
}

#Possibilities .cont-inner .bitcoin-img{
	width: 450px;
	animation: float 3s ease-in-out infinite;
}

#Possibilities .cont-inner h2{
	margin-top: 30px;
	color: #000000 !important;
	background-image: linear-gradient(180deg, #000000 0%, #000000 100%);
    font-family: "jakarta-bold", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 1px;
}

#Possibilities .cont-inner h1{
	color: #000000;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    width: 15ch;
    margin-top: 20px;
}

#Possibilities .cont-inner p{
	color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
    margin-top: 25px;
}

#Possibilities .cont-inner .started-btn{
	user-select: none;
    -moz-user-select: none;
    background: #FFFFFF none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #010314;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 45px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
}

#Possibilities .cont-inner .started-btn:hover{
	color: #ffffff;
	transition: 0.5s;
	background: linear-gradient(82.3deg, #e275ff 10.8%, #5729d6 94.3%);
}


#Technology{
	position: relative;
	padding-top: 140px;
    padding-bottom: 140px;
	background-color: transparent;
    background-image: linear-gradient(180deg, #7136B8 0%, #010314 100%);
}



#Technology .bg-1{
	position: absolute;
   width: 250px;
   top: 300px;
   left: 0px;
   animation: float 3s ease-in-out infinite;
}

#Technology .bg-2{
	position: absolute;
	right: 30px;
	bottom: 300px;
	width: 100px;
	animation: float 3s ease-in-out infinite;
 }

 #Technology .bg-3{
	width: 100px;
	position: absolute;
	bottom: 20px;
	right: 500px;
	animation: floatx 3s ease-in-out infinite;
 }


#Technology .cont{
	background-image: url(../images/video_bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 30px 30px 30px 30px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 110px;
    padding-right: 110px;
}

#Technology h2{
	color: #DDDDDD !important;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 1px;
}

#Technology h1{
	color: #DDDDDD;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    width: 15ch;
    margin-top: 20px;
}

#Technology p{
	color: #DDDDDD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
    margin-top: 25px;
}

#Technology .started-btn{
	user-select: none;
    -moz-user-select: none;
    background: #FFFFFF none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #010314;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 45px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
}

#Technology .started-btn:hover{
	color: #ffffff;
	transition: 0.5s;
	background: linear-gradient(82.3deg, #e275ff 10.8%, #5729d6 94.3%);
}

#Technology .right{
	position: relative;
}

#Technology .right .play-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: none;
	font-family: "jakarta-bold", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	background: #e275ff;
	color: #ffffff;
}

#Technology .right .play-btn:hover{
	background: #ffffff;
	color: #000000;
	transition: 1s;
}


#Part{
	padding-top: 0px;
}

#Part .cont{
	background-color: transparent;
    background-image: linear-gradient(180deg, #E5F8C6 0%, #61B998 100%);
	padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
	border-radius: 25px 25px 25px 25px;
}

#Part h1{
	color: #000000;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    width: 15ch;
    margin-top: 20px;
}

#Part p{
	color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
    margin-top: 20px;
}

#Part .started-btn{
	user-select: none;
    -moz-user-select: none;
    background: #FFFFFF none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #010314;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 45px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
}

#Part .started-btn:hover{
	color: #ffffff;
	transition: 0.5s;
	background: linear-gradient(82.3deg, #e275ff 10.8%, #5729d6 94.3%);
}

#Part .right{
	position: relative;
}

#Part .coin-img{
	width: 400px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%,-50%);
}


footer{
	position: relative;
	padding-top: 115px;
    padding-bottom: 115px;
}

footer .bg{
	width: 400px;
	position: absolute;
	top: 150px;
	left: -180px;
}

footer .footer-logo{
	width: 100px;
}


footer .info{
	color: #92939E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
	margin-top: 30px;
}


footer .social-icons{
  background: #151726;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-right: 6px;
}

footer .social-icons:hover{
	background: #E275FF;
	transition: 0.5s;
}

footer .social-icons img{
	width: 20px;
}


footer .middle{
	border-left: 1px solid #FFFFFF4D;
	border-right: 1px solid #FFFFFF4D
}

footer h2{
	color: #FFFFFF;
    font-family: "Plus Jakarta Sans", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0.9px;
}

footer .contactp{
	color: #92939E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
	margin-top: 20px;
}

footer .boldp{
	color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
	margin-top: -15px;
}

footer .copyrightp{
	color: #FFFFFF;
    font-family: "Outfit", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.62em;
	margin-top: 140px;
}

footer .right{
	padding-left: 60px;
}

footer .input-div{
	position: relative;
	margin-top: 30px;
}

footer .input-div input{
	width: 100%;
	height: 60px;
    padding: 0 145px 0 30px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
	color: #212529;
}

footer .input-div .sub-btn{
	position: absolute;
    right: 5px;
    top: 4px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;
	background: linear-gradient(93.17deg, #e275ff -18.55%, #7E2AFD 163.09%);
    color: #ffffff;
	border: none;
	border-radius: 30px;
}


#FAQ{
	padding-bottom: 140px;
}

#FAQ h2 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #e275ff -18.55%, #5729d6 163.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#FAQ h1 {
    color: #FFFFFF;
    font-family: "jakarta-bold", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
	max-width: 20ch;
	margin: 0 auto;
}

#FAQ p {
    color: #92939E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
	max-width: 55ch;
	margin: 0 auto;
	margin-top: 20px;
}

#FAQ .cont-2{
 margin-top: 50px;
 max-width: 1100px;
}

#FAQ .card{
	background: #010314;
	border: 1px solid #DDDDDD;
	margin-top: 20px;
	border-radius: 50px;
}

#FAQ .card h3{
	text-decoration: none;
	color: #FFFFFF;
}

#FAQ .card h3 button{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 24px;
}


#FAQ .card-header{
padding-top: 20px;
padding-bottom: 20px;
}

#FAQ .card-body{
	padding: 10px 40px 40px 40px;
	color: #FFFFFF;
	font-size: 18px;
}